/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* MAIN OPTIONS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}

/* INPUT STYLES */
.input {
  margin-bottom: 50px;
}

.input input {
  font-family: inherit;
  font-size: 14px;
  border: 2px solid #eee;
  background-color: transparent;
  display: block;
  width: 400px;
  margin-bottom: 20px;
  outline: none;
  padding: 8px 15px;
}

.input input:focus {
  color: #215119;
}

button {
  border-radius: 0;
  outline: none;
  padding: 10px 15px;
  background-color: #86da86;
  border: 1px solid #86da86;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: 0.35s;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #86da86;
}

/* PLAYER WITH PLAYLST STYLES */
.content-inner-wrap {
  display: flex;
}

/* PLAYLIST STYLES */
.player-wrap {
  width: 40%;
  padding-top: 20px;
}

.player-title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.player-wrap iframe {
  width: 100%;
  height: 300px;
}

/* PLAYLIST STYLES */
.playlists-wrap {
  width: 60%;
  padding-left: 60px;
}

.list-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 15px 15px 15px;
  transition: 0.35s;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.list-wrapper.active,
.list-wrapper:hover {
  background-color: #f5f5f5;
}

.list-item-index {
  font-size: 18px;
  font-weight: 500;
  padding-right: 15px;
}

.image-wrap img {
  width: 250px;
  height: auto;
}

.info-wrap {
  padding-left: 30px;
}

/* ERROR & LOADING STYLE STYLES */
.error,
.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error p,
.loading p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  max-width: 500px;
  padding: 15px 15px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 991px) {
  .input {
    margin-bottom: 40px;
  }
  .content-inner-wrap {
    flex-wrap: wrap;
  }
  .player-wrap {
    width: 100%;
    margin-bottom: 40px;
  }
  .player-wrap iframe {
    width: 100%;
    height: 400px;
  }
  .playlists-wrap {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .app-wrapper {
    padding: 30px 15px;
  }
  .input {
    margin-bottom: 15px;
  }
  .input input {
    width: 310px;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .player-wrap {
    margin-bottom: 20px;
  }
  .player-wrap iframe {
    height: 200px;
  }
  .player-title {
    font-size: 17px;
  }
  .list-item-index {
    display: none;
  }
  .image-wrap img {
    width: 100px;
    height: auto;
  }
  .list-wrapper {
    align-items: flex-start;
  }
  .info-wrap {
    padding-left: 20px;
  }
  .info-wrap h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
  }
  .info-wrap p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 600;
  }
  .error,
  .loading {
    width: calc(100% - 50px);
    left: 25px;
    transform: translateY(-50%);
  }
  .error,
  .loading p {
    font-size: 18px;
  }
}
